$btn: #b29e85;
$btn1: #b29e85;
$white: #ffffff;
$danger: red;

$background: #252827;

$color-primary: #4298c3;
$color-light: white;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;
