@import "./colors.scss";
@import "./breakpoints";
@import "./mixin.scss";

.headingDiv {
  padding: 0px !important;
  margin-top: 20px !important;
}

.grid {
  @include gridTwo(20, 20);
  margin-top: 20px;
}
.field {
  margin-top: 20px;
}
.btn {
  margin-top: 20px;
}

.profilePic {
  margin-top: 15px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.deleteBtn {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover {
    background-color: #b29e85 !important;
    color: #fff !important;
  }
}
