@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.form_container {
  min-height: calc(100vh - 337px);
  .education {
    padding-bottom: 18px;
  }
  .borderForm {
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important;
    .formInputWrapper {
      margin-top: 10px;
    }
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    margin-top: 23px;
    .btnSave {
      max-width: 90px !important;
      margin-right: 10px;

      .loaderClass {
        border-color: rgb(255, 255, 255);
        border-right: 2px solid transparent;
        margin: auto;
      }
    }
    .btnCancel {
      color: colors.$btn;
      max-width: 90px;
      border: 1px solid colors.$btn;
      background-color: transparent;
    }
  }
}
.loaderClass {
  border-color: rgb(255, 255, 255);
  border-right: 2px solid transparent;
  margin: auto;
}

.errorMessage {
  color: #ff5050;
}
