@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.main {
  background-color: #eaedef;
  padding: 60px 30px;
  margin-top: 20px;
  @media (max-width: breakpoints.$tab) {
    padding: 40px 23px;
  }
  @media (max-width: breakpoints.$tab) {
    padding: 20px 10px;
  }
  h5 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .tabDiv {
    display: flex;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      margin-right: 30px;
      padding-bottom: 5px;
      &:hover {
        color: #959595;
      }
      @media (max-width: breakpoints.$xxs) {
        font-size: 13px;
      }
    }
  }
}
