.tag {
  border-radius: 2px;
  color: rgb(22, 22, 22);
  background-color: rgb(235, 235, 235);
  font-size: 11px;
  padding: 3px 8px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: fit-content;
}
