@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.mainDiv {
  position: fixed;
  background-color: transparent;
  inset: 0;
  z-index: 2000;
}

.mainInner {
  width: 100%;
  z-index: 2500;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    h6 {
      color: colors.$btn;
      font-size: 20px;
    }
    .icon {
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
      height: 20px;
      width: 20px;
      * {
        color: colors.$btn;
        height: 20px;
        width: 20px;
      }
    }
  }
  .grid {
    @include gridTwo(12, 20);
    margin-top: 20px;
    p {
      color: #565656;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 0px;
      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}
.logosImg {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .icon1 {
    cursor: pointer;
    font-size: 16px;
    height: 20px;
    width: 20px;

    * {
      color: colors.$btn;
      height: 20px;
      width: 20px;
    }
  }
}
.square {
  border: 1px solid colors.$btn;
  border-radius: 6px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
