.code {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.backgroundColor {
  border-radius: 20px;
  border: 1px solid #b6b6b6;
  background: #ededed;
}

.italic {
  color: #023aff !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 22px !important;
  font-style: italic !important;
  font-weight: 300 !important;
  line-height: normal !important;
}
