@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.headingDiv {
  padding: 30px 0px;
  h1 {
    font-weight: 500;
    font-size: 17px;
    color: colors.$btn;
    display: flex;
    align-items: center;
    span {
      cursor: pointer;
      font-weight: 500;
      font-size: 17px;
      color: #c0c0c0;
      &:hover {
        color: colors.$btn;
      }
    }
    .arrow_icon {
      height: 12px;
      width: 13px;
      display: flex;
      align-items: center;
      margin: 0px 7px;
      cursor: pointer;
    }
  }
}
