@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 340px);
}

.videoMain {
  margin-top: 20px;
  .tag {
    background-color: #aeaeae !important;
    text-transform: uppercase;
  }
  .btn {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    a {
      width: 100%;
      margin-top: 10px;
      max-width: 120px;

      button {
        max-width: 100%;
      }
    }
  }
}
.grid {
  @include gridThree(30, 30);
}
