@use "/styles/colors";
@use "styles/breakpoints";
@import "styles/mixin";

.cancelModal {
  max-width: 931px !important;
  padding: 20px !important;

  & > div {
    border: none !important;
    img {
      width: 100% !important;
    }
  }
}

.container {
  min-height: calc(100vh - 692px);
}
.card {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.04);
  }
  @media (max-width: breakpoints.$xs) {
    flex-direction: column;
  }
  .product {
    display: flex;
    align-items: flex-start;
    padding: 24px 14px;

    h3 {
      font-weight: 600;
      font-size: 18px;
      color: #252525;
      .span1 {
        margin: 5px;
        color: red;
      }
      .span2 {
        font-size: 13px;
        text-decoration: line-through;
        text-decoration-thickness: 1.2px;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      color: #252525;
      margin-top: 13px;
    }
  }
  h5 {
    font-weight: 500;
    font-size: 16px;
    color: #252525;
    @media (max-width: breakpoints.$xs) {
      text-align: end;
      width: 100%;
      margin-top: 10px;
    }
  }
}
.subscribed {
  @include gridThree(20, 20);
}

.grid {
  display: flex;
  gap: 30px 110px;
  @media (max-width: 1500px) {
    flex-direction: column;
  }
}
.grid1 {
  display: flex;
  padding: 30px;
  gap: 30px 50px;
  margin: 0 auto;
  max-width: max-content;
  align-items: center;
  @media (max-width: 1500px) {
    flex-direction: column;
  }
}
.width2 {
  width: 50%;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.btn {
  max-width: 100% !important;
}
.urgentDiv {
  background: #fb404b;
  border-radius: 0px 5px 5px 0px;
  padding: 24px 14px;
  max-width: 150px;
  width: 100%;
  margin-left: 10px;
  @media (max-width: breakpoints.$xs) {
    max-width: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 5px 5px;
  }
  .name {
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }
  .nameDiv {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .name1 {
      border: 1px solid #ffffff;
      padding: 6px;
      text-align: center;
      width: max-content;
      font-weight: 300;
      font-size: 13px;
      color: #ffffff;
    }
  }
  .para {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
  }
}

.subsContent {
  display: flex;
  gap: 150px;
  @media (max-width: 651px) {
    flex-direction: column;
    gap: 10px;
  }
}

.cardSubscribed {
  display: flex !important;
  padding: 20px !important;
  flex-direction: column;
  .btnSubscribed {
    max-width: 100%;
    width: 100%;
    margin-top: 10px;

    &:disabled {
      background: transparent;
      border: 1px solid #b29e85;
      color: #b29e85;
    }
  }
}
.cardSubscribedPadding {
  padding: 0px !important;
}

.flexSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.heading {
  font-weight: 700;
  font-size: 21px;
  color: #252525;
  margin-bottom: 15px;
}
.tableHeading {
  padding: 15px 10px !important;
}
.tr {
  border-top: none !important;
  border-bottom: 1px solid #c9c7c7;
  box-shadow: none !important;
}
.headingTitle {
  margin-top: 0px !important;
  color: #252525 !important;
  font-weight: 600 !important;
}
.thead {
  border: 1px solid #e2e2ea !important;
  // padding: 15px 0 !important;
  border-radius: 5px;
}
.tableHeight {
  background: none !important;
}

.optionButton {
  max-width: max-content !important;
  background: transparent;
  border: 1px solid #b29e85;
  color: #b29e85;
  &:hover {
    background-color: colors.$btn;
    border: 1px solid transparent;
    color: colors.$white;
  }
  &:active {
    max-width: max-content !important;
    background-color: colors.$btn;
    border: 1px solid transparent;
    color: colors.$white;
  }
}

.btnFlex {
  display: flex;
  justify-content: space-between;
}

.succesModal {
  display: flex !important;
  width: 500px !important;
  padding: 30px !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px !important;
}

.popup {
  top: 100%;
  right: 0px;
  width: 210px;
  z-index: 2600;
  padding: 0px 10px;
  position: absolute;
  transition: all 1.5s;
}

.historySection {
  padding: 30px;
}

.discountBanner {
  display: flex;
  padding: 10px 51px;
  align-items: center;
  justify-content: center;

  gap: 10px;
  background: #1dc580;
  .bannerInner {
    display: flex;
    // width: 1338px;
    justify-content: center;
    align-items: center;
    .bannerText {
      font-size: 19px;
      span {
        font-weight: 700;
      }
    }
  }
}
